@media (min-width: 375px){
    body{
        background-image: url("../../../public/images/bg-header-desktop.svg");
        background-size: 100% auto;
        padding: 0 5rem;
    }

    .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 60rem;
    }

    .card img{
        width: 8rem;
        position: static;
        flex-shrink: 0;
    }

    .card__info-container{
        display: flex;
        gap: 2rem;
    }

    hr{
        display: none;
    }
}